header, footer, .navigator, #content {
	border-bottom: 1px solid #ccc;
}



.highlight.hljs {
 	background-color: #f8f8f8;
	border: 1px solid #ddd;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
}

 /* https://gist.github.com/tuzz/3331384*/